source "Kconfig.zephyr"

menu "KeyBird"

config KB_NAME_LEFT 
	string
	default "KeyBird Left"
	depends on KB_LEFT

config KB_NAME_RIGHT
	string 
	default "KeyBird Right"
	depends on KB_RIGHT

choice KEYBOARD_SIDE
	bool "Keyboard Side"
	default KB_LEFT

config KB_LEFT
	bool "Left"
config KB_RIGHT
	bool "Right"

endchoice

config BT_DEVICE_NAME 
	string
	default "KeyBird Left" if KB_LEFT
	default "KeyBird Right" if KB_RIGHT

endmenu
